PORT=3000
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/invoice-management
JWT_SECRET=change_me_access_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change_me_refresh_secret
REFRESH_TOKEN_EXPIRES_IN=7d
CORS_ORIGIN=*
NODE_ENV=development
