PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/invoice-management
JWT_SECRET=change_me_access_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=change_me_refresh_secret
REFRESH_TOKEN_EXPIRES_IN=7d
CORS_ORIGIN=http://192.168.29.39:8080
NODE_ENV=development
